* {
  padding: 0px;
  margin: 0px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #d5d2d2;
  color: white;
}
.items {
  display: flex;
  list-style: none;
}
.item {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
}
.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(../asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.primary {
  color: #de4c12;
}
.description {
  font-size: 22px;
  width: 50%;
  margin: auto;
}
.btn {
  padding: 15px 35px;
  border: none;
  font-size: 15px;
  margin: 5px;
}
.btn-discover {
  
  background-color: #de4c12;
  color: white;
}
.btn-hire {
  background-color: white;
  color: black;
}

.service-container{
    width: 100%;
    height: 100vh;
    background-image: url(../asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 9));
    background-blend-mode: overlay;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.service-left-container{
   width: 50%; 
}

.service-btn{
    color: gray;
    border-radius: 25px;
}
.service-title{
    font-size: 40px;
    font-weight: bold;
    
}
.service-description{
    font-size: 20px;
    width: 50%;
    padding: 10px;
}
.service-list{
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;    
}
.service-li{
    font-size: 20px;
}
.author-details{
    display: flex;
    padding: 10px;
}
.author-img-details{
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #de4c12;
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.author-text{
    margin-left: 10px;
}
.more-details{
    padding: 20px;
    margin-top: 5px;
}
.service-up{
    display: flex;
}
.service-down{
    display: flex;
}
.service{
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
    border-radius: 10x;
}
.phone-call{
    display: flex;

}
.call-icon{
    width: 90px;
}
.appointment-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: #de4c12;
    padding: 10px;
    color: white;
    margin: auto;
    border-radius: 25px;
    margin-top: -70px;
}
.app-description{
    width: 50%;
}